[submodule "themes/hugo-bootstrap-5"]
	path = themes/hugo-bootstrap-5
	url = https://github.com/NitishPuri/hugo-bootstrap-5.git
[submodule "public"]
	path = public
	url = https://github.com/NitishPuri/blog-hugo.git
